.video-out
    height: 100%;
    position: relative;
    img
        position: absolute;
        width: 100%;
        opacity: 1;
        height: 100%;
        pointer-events: none
        top: 0;
        left: 0;