// Responsive
//---------------------------------------
$mSizeSmall = 320px
$mSize = 768px
$dsSize = 960px
$dmSize = 1040px
$dlSize = 1600px
$dlmSize = 1840px
$fullSize = 1920px

mobileSmall = "only screen and (max-width: " + $mSizeSmall + ")"
mobile = "only screen and (min-width: " + $mSize + ")"
ds = "only screen and (min-width: " + $dsSize + ")"
dm = "only screen and (min-width: " + $dmSize + ")"
dl = "only screen and (min-width: " + $dlSize + ")"
dlm = "only screen and (min-width: " + $dlmSize + ")"
full = "only screen and (min-width: " + $fullSize + ")"