@import "../utils/stylus/reset.styl"
@import "../utils/stylus/responsive.styl"
@import "../utils/stylus/fonts.styl"
@import "../utils/stylus/variables.styl"

// add-font(Termina-Bold, Termina-Bold, 400, normal)

#app
	font-family 'Avenir', Helvetica, Arial, sans-serif
	text-align center

.nav-container
	height calc(100vh - 110px)